body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-direction: column;
  height: 100vh;
}
#form {
  background-color: powderblue;
  justify-content: center;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s;
  padding: 15px 20px;
  align-items: flex-start;
  box-sizing: content-box;
}
.button {
  color: white;
  text-align: center;
  padding: 5px;
  margin: 5px;
  width: 100%;
  justify-content: center;
}
.button1 {
  background-color: green;
  color: whitesmoke;
}
.button1:hover {
  background-color: black;
  color: white;
}
